/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.project-body {

    padding: 50px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.project-texts {
    width: 65%;
}

.project-title {
    font-size: 50px;
    font-weight: 600;
}

.project-description {
    margin: 20px 0;
}

.project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

/*
------------------------Mobile CSS--------------------------------------------------------------------------------
 */

/*XS, 11 Pro, SE (2nd and 3rd Gen) for IOS 17 (Flipped)*/
@media only screen and (min-width: 540px) and (max-width: 667px)
and (min-height: 300px) and (max-height: 375px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .project-body {
        padding: 20px;
        margin-top: 620px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0;
    }
}


/*XR for IOS 17*/
@media only screen and (min-width: 414px) and (max-width: 414px)
and (min-height: 700px) and (max-height: 896px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .project-body {
        padding: 20px;
        margin-top: 350px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 70px;
    }
}

/*11 Pro Max for IOS 17*/
@media only screen and (min-width: 414px) and (max-width: 414px)
and (min-height: 616px) and (max-height: 736px)
and (-webkit-min-device-pixel-ratio: 2.6), only screen and (min--moz-device-pixel-ratio: 2.6), only screen and (-o-min-device-pixel-ratio: 2.6/1), only screen and (min-device-pixel-ratio: 2.6) {
    .project-body {
        padding: 20px;
        margin-top: 350px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 14px;
        padding: 0 70px;
    }
}

/*XS, 11 Pro, SE (2nd and 3rd Gen) for IOS 17 */
@media only screen and (min-width: 375px) and (max-width: 375px)
and (min-height: 540px) and (max-height: 667px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .project-body {
        padding: 20px;
        margin-top: 350px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 12px;
        padding: 0 70px;
    }
}


