.project-body {

    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-texts {
    width: 65%;
}

.project-title {
    font-size: 50px;
    font-weight: 600;
}

.project-description {
    margin: 20px 0;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

/*
 Mobile-view
 */
@media screen and (max-width: 667px) and (max-height: 375px) {
    .project-body {
        padding: 30px;
        margin-top: 830px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 40px;

    }

    .project-description {
        font-size: 20px;
        padding: 0 147px;
    }
}

@media screen and (max-width: 653px) and (max-height: 280px) {
    .project-body {
        padding: 30px;
        margin-top: 830px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 35px;

    }

    .project-description {
        font-size: 20px;
        padding: 0 140px;
    }
}

@media screen and (max-width: 640px) and (max-height: 360px) {
    .project-body {
        padding: 30px;
        margin-top: 865px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 40px;

    }

    .project-description {
        font-size: 20px;
        padding: 0 114px;
    }
}

@media screen and (max-width: 600px) {
    .project-body {
        padding: 30px;
        margin-top: 370px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 40px;

    }

    .project-description {
        font-size: 20px;
        padding: 0 114px;
    }
}

@media screen and (max-width: 600px) {
    .project-body {
        padding: 30px;
        margin-top: 370px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 40px;

    }

    .project-description {
        font-size: 20px;
        padding: 0 114px;
    }
}

@media screen and (max-width: 568px) and (max-height: 320px) {
    .project-body {
        padding: 30px;
        margin-top: 850px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 35px;

    }

    .project-description {
        font-size: 18px;
        padding: 0 107px;
    }
}

@media screen and (max-width: 540px) {
    .project-body {
        padding: 40px;
        margin-top: 345px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 40px;

    }

    .project-description {
        font-size: 18px;
        padding: 0 89px;
    }
}

@media screen and (max-width: 540px) and (max-height: 360px) {
    .project-body {
        padding: 30px;
        margin-top: 825px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 17px;
        padding: 0 107px;
    }
}

@media screen and (max-width: 504px) {
    .project-body {
        padding: 30px;
        margin-top: 675px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 17px;
        padding: 0 90px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 480px) and (max-height: 320px) {
    .project-body {
        padding: 30px;
        margin-top: 850px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 17px;
        padding: 0 57px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 432px) {
    .project-body {
        padding: 30px;
        margin-top: 510px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 17px;
        padding: 0 51px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 430px) {
    .project-body {
        padding: 30px;
        margin-top: 320px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 17px;
        padding: 0 51px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 428px) {
    .project-body {
        padding: 30px;
        margin-top: 270px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 16px;
        padding: 0 51px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 414px) {
    .project-body {
        padding: 30px;
        margin-top: 315px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 16px;
        padding: 0 51px;
    }
}

@media screen and (max-width: 414px) and (max-height: 736px) {
    .project-body {
        padding: 30px;
        margin-top: 450px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 16px;
        padding: 0 51px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 412px) {
    .project-body {

        margin-top: 180px;
        padding: 30px;
    }


    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 16px;
        padding: 0 51px;
    }
}

@media screen and (max-width: 412px) and (max-height: 919px) {
    .project-body {
        margin-top: 300px;
    }
}

/*
Takes height 906px and 914px as well
 */
@media screen and (max-width: 412px) and (max-height: 915px) {
    .project-body {
        margin-top: 305px;
    }
}

@media screen and (max-width: 412px) and (max-height: 892px) {
    .project-body {
        margin-top: 360px;
    }
}

@media screen and (max-width: 412px) and (max-height: 883px) {
    .project-body {

        margin-top: 360px;
    }
}

@media screen and (max-width: 412px) and (max-height: 869px) {
    .project-body {

        margin-top: 375px;
    }
}

@media screen and (max-width: 412px) and (max-height: 846px) {
    .project-body {

        margin-top: 390px;
    }
}

@media screen and (max-width: 412px) and (max-height: 823px) {
    .project-body {

        margin-top: 400px;
    }
}

@media screen and (max-width: 412px) and (max-height: 732px) {
    .project-body {

        margin-top: 490px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 411px) {
    .project-body {
        padding: 30px;
        margin-top: 220px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;
    }

    .project-description {
        font-size: 15px;
        padding: 0 58px;
    }
}

@media screen and (max-width: 411px) and (max-height: 731px) {
    .project-body {
        padding: 30px;
        margin-top: 440px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 58px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 400px) {
    .project-body {
        padding: 30px;
        margin-top: 290px;
    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 53px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 392px) {
    .project-body {
        padding: 20px;
        margin-top: 340px;
    }

    .project-texts {
        width: 103%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 55px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 390px) {
    .project-body {
        padding: 20px;
        margin-top: 335px;
    }

    .project-texts {
        width: 103%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 55px;
    }
}

@media screen and (max-width: 390px) and (max-height: 695px) {
    .project-body {
        padding: 20px;
        margin-top: 500px;
    }

    .project-texts {
        width: 103%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 55px;
    }
}

@media screen and (max-width: 390px) and (max-height: 390px) {
    .project-body {
        padding: 30px;
        margin-top: 770px;
    }

    .project-texts {
        width: 110%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 64px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 385px) {
    .project-body {
        padding: 20px;
        margin-top: 330px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 64px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 384px) {
    .project-body {
        padding: 20px;
        margin-top: 340px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 55px;
    }
}

@media screen and (max-width: 384px) and (max-height: 640px) {
    .project-body {
        padding: 20px;
        margin-top: 530px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 55px;
    }
}

/*
DONE - DON'T TOUCH!
 */

@media screen and (max-width: 375px) {
    .project-body {
        padding: 23px;
        margin-top: 350px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 55px;
    }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .project-body {
        padding: 23px;
        margin-top: 530px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 15px;
        padding: 0 55px;
    }
}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 360px) {
    .project-body {
        padding: 20px;
        margin-top: 360px;
    }

    .project-texts {
        width: 110%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 14px;
        padding: 0 50px;
    }
}

@media screen and (max-width: 360px) and (max-height: 800px) {
    .project-body {
        padding: 20px;
        margin-top: 380px;
    }


}

@media screen and (max-width: 360px) and (max-height: 780px) {
    .project-body {
        padding: 20px;
        margin-top: 400px;
    }


}

@media screen and (max-width: 360px) and (max-height: 771px) {
    .project-body {
        padding: 20px;
        margin-top: 434px;
    }


}

@media screen and (max-width: 360px) and (max-height: 770px) {
    .project-body {
        padding: 20px;
        margin-top: 435px;
    }

}

@media screen and (max-width: 360px) and (max-height: 760px) {
    .project-body {
        padding: 20px;
        margin-top: 450px;
    }

}

@media screen and (max-width: 360px) and (max-height: 747px) {
    .project-body {
        padding: 20px;
        margin-top: 472px;
    }


}

@media screen and (max-width: 360px) and (max-height: 740px) {
    .project-body {
        padding: 20px;
        margin-top: 465px;
    }


}

@media screen and (max-width: 360px) and (max-height: 720px) {
    .project-body {
        padding: 20px;
        margin-top: 480px;
    }


}

@media screen and (max-width: 360px) and (max-height: 640px) {
    .project-body {
        padding: 20px;
        margin-top: 555px;
    }

}

@media screen and (max-width: 360px) and (max-height: 540px) {
    .project-body {
        padding: 20px;
        margin-top: 640px;
    }

}

/*
DONE - DON'T TOUCH!
 */
@media screen and (max-width: 320px) {
    .project-body {
        padding: 20px;
        margin-top: 320px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;

    }

    .project-description {
        font-size: 12px;
        padding: 0 50px;
    }
}

@media screen and (max-width: 320px) and (max-height: 568px) {
    .project-body {
        padding: 20px;
        margin-top: 395px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;
    }

    .project-description {
        font-size: 12px;
        padding: 0 50px;
    }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
    .project-body {
        padding: 20px;
        margin-top: 470px;
    }

    .project-texts {
        width: 105%;
    }

    .project-title {
        font-size: 30px;
    }

    .project-description {
        font-size: 12px;
        padding: 0 50px;
    }
}

/*
DONE - DON'T TOUCH!
 */

@media screen and (max-width: 280px) {
    .project-body {
        padding: 10px;
        margin-top: 205px;

    }

    .project-texts {
        width: 100%;
    }

    .project-title {
        font-size: 30px;
    }

    .project-description {
        font-size: 10px;
        padding: 0 50px;


    }
}
