.project-body
{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center ;
}
.project-title
{
    font-size: 50px;
    font-weight: 600;
}
.project-description
{
    margin: 20px 0;
}
.project-list
{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    width: 100%;
}
