.navbar
{
    width: 100%;
    height: 50px;
    background-color: #235fc8;
    position: fixed;
    top: 0;
    z-index: 3;
    margin-right: 40px;

}
.wrapper
{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left .hamburger
{
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.left span
{
    width: 100%;
    height: 3px;
    background-color: white;
    transform-origin: left;
    transition: all 1s ease;
}
.right
{
    display: flex;
    align-items: center;
}
.icon
{
    font-size: 20px;
    margin-right: 5px;
    color: white;
}
.social_media_Container
{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.icon:hover
{
    color: black;
    transition: all 0.5s ease;
}

.navbar.active
 {
     background-color: #235fc8;
     color: #ffffff;
 }
.navbar.active .hamburger span:first-child
{
    background-color: #000000;
    transform: rotate(45deg);
}
.navbar.active .hamburger span:nth-child(2)
{
    opacity: 0;
    transition: all 0.5s ease;
}
.navbar.active .hamburger span:last-child
{
    background-color: #000000;
    transform: rotate(-45deg);

}







