*
{
    padding: 0;
    box-sizing: border-box;
}
.toggle
{
    font-size: 30px;
    color: #ffffff;
    float: left;
    line-height: 45px;
    margin-left: 5%;
    cursor: pointer;
    display: none;
}
nav
{
    background-color: #0b78d0;
    height: 60px;
    width: 100%;
}
ul
{
    float: left;
    margin-left: 5%;
}
.social_media
{
    float: right;
    margin-left: 5%;

}
ul li
{
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}
ul li a
{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    color: white;
    text-decoration: none;
    padding: 15px;
}
.nav_links a:hover
{
    color: black;
}

.social_media
{
    padding: 18px 20px;
}
.social_media a
{

    padding: 14px;
    color: white;
}
.social_media a:hover
{
    color: black;
}
@media screen and (max-width: 1052px)
{
    .toggle
    {
        display: block;
    }
    ul
    {
        position: fixed;
        top: -400px;
        z-index: -1;
        margin-top: -15px;
        right: 0;
        left: 0;
        width: 200px;
        background-color: white;
        transition: top .4s;
        display: inline-block;
        margin-top: 0;
    }
    ul.show
    {
        top: 60px;
        background: #0b78d0;
    }
    ul li
    {
        top: 0;
        width: 100%;
    }

}

