
.side_menu {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

#light .side_menu {
    background-color: #235ec6;
}

#dark .side_menu {
    background-color: #22b255;
}

.side_menu.active {
    left: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    width: 60%;
    transform: translateY(37px);
}

#light ul {
    color: white;
}

#dark ul {
    color: #0c0c0c;
}

ul li {
    margin-bottom: 30px;
}

ul li a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

@media (hover: hover) {
    #light li:hover {
        color: black;
        transition: screen 0.5s ease;
    }

    #dark li:hover {
        color: white;
        transition: screen 0.5s ease;
    }
}

/*
------------------------Mobile CSS--------------------------------------------------------------------------------
 */

/*XS, 11 Pro, SE (2nd and 3rd Gen) for IOS 17 (Flipped)*/
@media only screen and (min-width: 540px) and (max-width: 667px)
and (min-height: 300px) and (max-height: 375px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .side_menu {
        width: 130px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 15px;
        transform: translateY(15%);

    }
}



/*XR for IOS 17*/
@media only screen and (min-width: 414px) and (max-width: 414px)
and (min-height: 700px) and (max-height: 896px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .side_menu {
        width: 130px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 15px;
        transform: translateY(20%);

    }
}

/*11 Pro Max for IOS 17*/
@media only screen and (min-width: 414px) and (max-width: 414px)
and (min-height: 616px) and (max-height: 736px)
and (-webkit-min-device-pixel-ratio: 2.6), only screen and (min--moz-device-pixel-ratio: 2.6), only screen and (-o-min-device-pixel-ratio: 2.6/1), only screen and (min-device-pixel-ratio: 2.6) {
    .side_menu {
        width: 130px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 15px;
        transform: translateY(20%);

    }
}

/*XS, 11 Pro, SE (2nd and 3rd Gen) for IOS 17 */
@media only screen and (min-width: 375px) and (max-width: 375px)
and (min-height: 540px) and (max-height: 667px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .side_menu {
        width: 130px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 15px;
        transform: translateY(20%);

    }
}

