
.side_menu {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

#light .side_menu {
    background-color: #235ec6;
}

#dark .side_menu {
    background-color: #22b255;
}

.side_menu.active {
    left: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    width: 60%;
    transform: translateY(37px);
}

#light ul {
    color: white;
}

#dark ul {
    color: #0c0c0c;
}

ul li {
    margin-bottom: 30px;
}

ul li a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

@media (hover: hover) {
    #light li:hover {
        color: black;
        transition: screen 0.5s ease;
    }

    #dark li:hover {
        color: white;
        transition: screen 0.5s ease;
    }
}

/*
------------------------Mobile CSS--------------------------------------------------------------------------------
 */

/*------------------------------------------------------------DONE------------------------------------------------*/
/*
iPad Pro 12.9-inch (2nd, 3rd, 4th, 5th, and 6th Gen) - Landscape
 */
@media only screen
and (min-width: 1366px)
and (max-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .side_menu {
        width: 320px;
        left: -320px;
        height: 100vh;

    }

    ul {
        font-size: 40px;
        transform: translateY(10%);
    }
}


/*iPad Mini (5th, and 6th Gen), iPad (6th, 7th, 8th, and 9th Gen),
iPad Air (3rd generation), iPad Pro 11-inch (1st generation),
iPad Pro 11-inch (2nd generation), iPad Pro 11-inch (3rd generation),
iPad Pro 11-inch (4th generation), iPad Pro 11-inch (M4) - Landscape
  */
@media only screen
and (min-width: 1024px)
and (max-width: 1210px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .side_menu {
        width: 300px;
        left: -300px;
        height: 100vh;

    }

    ul {
        font-size: 30px;
        transform: translateY(10%);
    }
}

/*
iPad (10th generation)
iPad Air (4th generation)
iPad Air (5th generation)
iPad Air 11-inch (M2)
 */
@media only screen
and (min-width: 1180px)
and (max-width: 1180px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    ul {
        font-size: 33px;
    }
}

/*------------------------------------------------------------DONE------------------------------------------------*/
/*
iPad Pro 12.9-inch (2nd, 3rd, 4th, 5th, and 6th Gen)
 */
@media only screen
and (min-width: 1024px)
and (max-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .side_menu {
        width: 320px;
        left: -320px;
        height: 100vh;

    }

    ul {
        font-size: 40px;
        transform: translateY(10%);
    }
}


/*------------------------------------------------------------DONE------------------------------------------------*/
/*14 Pro Max, 15 Pro Max, 15 Plus for IOS 17 (Rotated) */
@media only screen
and (min-width: 810px)
and (max-width: 932px)
and (min-height: 330px)
and (max-height: 430px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 3) {
    .side_menu {
        width: 140px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 17px;
        transform: translateY(15%);

    }
}

/*------------------------------------------------------------DONE------------------------------------------------*/
/*12 Pro Max, 13 Pro Max, and 14 Plus for IOS 17 (Rotated)*/
@media only screen
and (min-width: 830px)
and (max-width: 926px)
and (min-height: 325px)
and (max-height: 428px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 3) {
    .side_menu {
        width: 140px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 17px;
        transform: translateY(15%);

    }
}


/*------------------------------------------------------------DONE------------------------------------------------*/
/*XS, 11 Pro, 12 mini, and 13 mini for IOS 17 (Rotated)*/
@media only screen
and (min-width: 712px)
and (max-width: 812px)
and (min-height: 300px)
and (max-height: 375px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 3) {
    .side_menu {
        width: 140px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 15px;
        transform: translateY(15%);

    }
}


/*------------------------------------------------------------DONE------------------------------------------------*/
/*12, 12 Pro, 13, 13 Pro, 14, 14 Pro, 15, and 15 Pro for IOS 17 (Rotated) */
@media only screen
and (min-width: 725px)
and (max-width: 811px)
and (min-height: 310px)
and (max-height: 393px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 3) {
    .side_menu {
        width: 145px;
        left: -155px;
        height: 100vh;

    }

    ul {
        font-size: 16px;
        transform: translateY(15%);

    }
}


/*------------------------------------------------------------DONE------------------------------------------------*/
/*XR, 11, XS Max, and 11 Pro Max for IOS 17 (Rotated)*/
@media only screen
and (min-width: 800px)
and (max-width: 808px)
and (min-height: 310px)
and (max-height: 414px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .side_menu {
        width: 140px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 16px;
        transform: translateY(15%);

    }
}


/*------------------------------------------------------------DONE------------------------------------------------*/
/*iPad Mini (5th, and 6th Gen), iPad (6th, 7th, 8th, 9th and 10th Gen),
iPad Air (3rd, 4th, 5th), iPad Air 11-inch (M2), iPad Pro 11-inch (1st generation),
iPad Pro 11-inch (2nd generation), iPad Pro 11-inch (3rd generation),
iPad Pro 11-inch (4th generation), iPad Pro 11-inch (M4)
  */
@media only screen
and (min-width: 744px)
and (max-width: 834px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .side_menu {
        width: 275px;
        left: -275px;
        height: 100vh;

    }

    ul {
        font-size: 35px;
        transform: translateY(10%);
    }
}

/*------------------------------------------------------------DONE------------------------------------------------*/
/*SE (2nd and 3rd Gen) for IOS 17 (Rotated)*/
@media only screen
and (min-width: 667px)
and (max-width: 667px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .side_menu {
        width: 130px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 15px;
        transform: translateY(15%);

    }
}


/*------------------------------------------------------------DONE------------------------------------------------*/
/*14 Pro Max, 15 Pro Max, 15 Plus for IOS 17 */
@media only screen
and (min-width: 430px)
and (max-width: 430px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .side_menu {
        width: 140px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 18px;
        transform: translateY(20%);

    }
}




/*------------------------------------------------------------DONE------------------------------------------------*/
/*12 Pro Max, 13 Pro Max, and 14 Plus for IOS 17*/
@media only screen
and (min-width: 428px)
and (max-width: 428px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .side_menu {
        width: 140px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 16px;
        transform: translateY(20%);

    }
}




/*------------------------------------------------------------DONE------------------------------------------------*/
/*XR, 11, XS Max, and 11 Pro Max for IOS 17*/
@media only screen
and (min-width: 414px)
and (max-width: 414px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .side_menu {
        width: 130px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 15px;
        transform: translateY(20%);

    }
}

/*------------------------------------------------------------DONE------------------------------------------------*/
/* 14 Pro, 15, 15 Pro for IOS 17 */
@media only screen
and (min-width: 393px)
and (max-width: 393px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 3) {
    .side_menu {
        width: 130px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 16px;
        transform: translateY(20%);

    }
}



/*------------------------------------------------------------DONE------------------------------------------------*/
/*12, 12 Pro, 13, 13 Pro, and 14 for IOS 17 */
@media only screen
and (min-width: 390px)
and (max-width: 390px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 3) {
    .side_menu {
        width: 130px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 15px;
        transform: translateY(20%);

    }
}


/*------------------------------------------------------------DONE------------------------------------------------*/
/*XS, SE (2nd and 3rd Gen), 11 Pro, 12 mini, and 13 mini for IOS 17 */
@media only screen
and (min-width: 375px)
and (max-width: 375px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .side_menu {
        width: 130px;
        left: -150px;
        height: 100vh;

    }

    ul {
        font-size: 15px;
        transform: translateY(20%);

    }
}

