.about {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 30px;

}

.about-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.about-right
{
    flex: 1;
    padding-right: 30px;
}

.a-card.background
{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #0b78d0;
}

.a-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.about-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-title {
    background: linear-gradient(to right, #0c0d0e 20%, #0b78d0 40%, rgba(89, 155, 251, 0.81) 60%, #000000 80%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-weight: 600;
    animation: shine 5s linear infinite reverse;
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}


.about-sub-title {
    position: relative;
    transition: all 500ms;
    font-weight: normal;
    font-style: italic;
    margin: 20px 0;
}

.about-sub-title:hover
{
    transform: scale(1.05);
}
.about-description
{
    position: relative;
    text-decoration: none;
    transition: all 500ms;
    margin: 15px 0;
}
.about-description:hover
{
    transform: scale(1.05);
}
#container
{
    padding: 12px 0 12px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    color: #0b78d0;
    position: relative;
    display: block;
    overflow: hidden;
    height: 40px;
    width: 150px;
    text-align: center ;
    border: solid currentColor;
    text-decoration: none;
}
.button p{
    line-height: 40px;
    color: black;
}

.button span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #0b78d0;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transform: translate(-50%, -50%);

    z-index: -1;
}
.button p
{
    color: black;
    transition : all ease-in-out 0.6s;
}
.button p:hover
{
    color: #ffffff;
    transition: all ease-in-out 0.4s;
}

.button:hover span {
    width: 225%;
    height: 563px;
}
.button:active
{
    background-color: #0b78d0;
}












