/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.proj {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;

}

#light .proj {
    border: 2px solid rgb(218, 215, 215);
}

#dark .proj {
    border: 2px solid rgb(63, 63, 63);
}

.proj-browser {
    position: sticky;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
}

#light .proj-browser {
    background-color: #D7D6D6FF;
}

#dark .proj-browser {
    background-color: rgb(63, 63, 63);
}

.proj-web-header-circle {
    width: 6px;
    height: 6px;
    margin: 3px;

    border-radius: 50px;
}

#light .proj-web-header-circle {
    background-color: #686666;
}

#dark .proj-web-header-circle {
    background-color: #b0afaf;
}

.proj-img {
    width: 100%;
    -webkit-transition: all 10s ease;
    -o-transition: all 10s ease;
    transition: all 10s ease;

}

@media (hover: hover) {

    .proj:hover .proj-img {
        transform: translateY(-55%);
    }
}

/*
------------------------Mobile CSS--------------------------------------------------------------------------------
 */


/*XR, 11, and XS Max for IOS 17 (Flipped)*/
@media only screen
and (max-width: 808px) /* 1792px / 2 */
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .proj {
        width: 40%;
        height: 50vh;
    }
}


/*XR, 11, and XS Max for IOS 17*/
@media only screen
and (min-width: 414px)
and (max-width: 414px) /* 828px / 2 */
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .proj {
        width: 40%;
        height: 15vh;
    }
}


/*------------------------------------------------------------DONE------------------------------------------------*/
/*XS for IOS 17 (Flipped)*/
@media only screen
and (max-width: 812px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 3) {
    .proj {
        width: 40%;
        height: 50vh;
    }
}


/*------------------------------------------------------------DONE------------------------------------------------*/
/*
SE (2nd and 3rd Gen) for IOS 17 (Flipped)*/
@media only screen
and (min-width: 667px) /* 1136px / 2 */
and (max-width: 667px) /* 1136px / 1 */
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .proj {
        width: 40%;
        height: 50vh;
    }
}

/*------------------------------------------------------------DONE------------------------------------------------*/
/*XS, SE (2nd and 3rd Gen) for IOS 17 */
@media only screen
and (min-width: 375px)
and (max-width: 375px) /* 750px / 2 */
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .proj {
        width: 40%;
        height: 15vh;
    }
}




