body {
    -webkit-overflow-scrolling: touch;
}
#dark {
    color: white;
    width: 100%;
    background-color: #0c0c0c;
    z-index: 10000;
}

#light {
    color: black;
    width: 100%;
    background-color: white;
}


.toggle-switch {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 1000;
    display: flex;

}


.light-tooltip {
    background-color: #235fc8;
    color: white;
    border-radius: 5px;
    padding: 5px;

}

/* Styles for tooltip in dark mode */
.dark-tooltip {
    background-color: #22b255;
    color: black;
    border-radius: 5px;
    padding: 5px;
}


.toggle-icon {
    width: 25px;
    height: 25px;

}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .toggle-switch {
        top: 70px;

    }

}


@media only screen and (min-width: 280px) and (max-width: 319px) {
    .toggle-switch {
        right: -2px;
        top: 55px;
    }
}