body {
    -webkit-overflow-scrolling: touch;
}
#dark {
    color: white;
    width: 100%;
    background-color: #0c0c0c;
    z-index: 10000;
}

#light {
    color: black;
    width: 100%;
    background-color: white;
}


.toggle-switch {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 1000;
    display: flex;

}



.light-tooltip {
    background-color: #235fc8;
    color: white;
    border-radius: 5px;
    padding: 5px;

}

/* Styles for tooltip in dark mode */
.dark-tooltip {
    background-color: #22b255;
    color: black;
    border-radius: 5px;
    padding: 5px;
}


.sun-toggle-icon {
    width: 25px;
    height: 25px;
    transform: translateX(4px);

}

.moon-toggle-icon {
    width: 25px;
    height: 25px;

}

/*
------------------------Mobile CSS--------------------------------------------------------------------------------
 */

/*------------------------------------------------------------DONE------------------------------------------------*/
/*
iPad Pro 12.9-inch (2nd, 3rd, 4th, 5th, and 6th Gen), and iPad Air 13 (M2 - 2024) - Landscape
 */
@media only screen and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) {
    .toggle-switch {
        top: 90px;
        right: 10px;
    }

    .sun-toggle-icon {
        width: 50px;
        height: 50px;
        transform: translateX(20px);
    }

    .moon-toggle-icon {
        width: 50px;
        height: 50px;
    }

    .light-tooltip {
        border-radius: 10px;
        padding: 10px;
        font-size: 30px;
    }

    .dark-tooltip {
        border-radius: 10px;
        padding: 10px;
        font-size: 30px;
    }

    #light .react-switch .react-switch-handle {
        height: 44px !important;
        width: 44px !important;
        top: 3px !important;
        transform: translateX(3px) !important;
    }

    #dark .react-switch .react-switch-handle {
        height: 44px !important;
        width: 44px !important;
        top: 3px !important;
        transform: translateX(62px) !important;
    }

}

/*------------------------------------------------------------DONE------------------------------------------------*/
/*
iPad Air (3rd Gen), iPad Pro 10.5-inch - Landscape
 */
@media only screen and (min-width: 1112px) and (max-width: 1136px) and (orientation: landscape) {
    .toggle-switch {
        top: 75px;
        right: 10px;
    }

    .sun-toggle-icon {
        width: 40px;
        height: 40px;
        transform: translateX(10px);
    }

    .moon-toggle-icon {
        width: 40px;
        height: 40px;
    }

    .light-tooltip {
        border-radius: 10px;
        padding: 10px;
        font-size: 21px;
    }

    .dark-tooltip {
        border-radius: 10px;
        padding: 10px;
        font-size: 21px;
    }

    #light .react-switch .react-switch-handle {
        height: 35px !important;
        width: 35px !important;
        top: 2px !important;
        transform: translateX(3px) !important;
    }

    #dark .react-switch .react-switch-handle {
        height: 35px !important;
        width: 35px !important;
        top: 2px !important;
        transform: translateX(47px) !important;
    }

}

/*------------------------------------------------------------DONE------------------------------------------------*/
/*iPad (7th, 8th and 9th Gen) - Landscape */
@media only screen and (min-width: 1080px) and (max-width: 1080px) and (orientation: landscape) {
    .toggle-switch {
        top: 75px;
        right: 15px;
    }

    .sun-toggle-icon {
        width: 40px;
        height: 40px;
        transform: translateX(10px);
    }

    .moon-toggle-icon {
        width: 40px;
        height: 40px;
    }

    .light-tooltip {
        border-radius: 10px;
        padding: 10px;
    }

    .dark-tooltip {
        border-radius: 10px;
        padding: 10px;
    }

    #light .react-switch .react-switch-handle {
        height: 35px !important;
        width: 35px !important;
        top: 2px !important;
        transform: translateX(3px) !important;
    }

    #dark .react-switch .react-switch-handle {
        height: 35px !important;
        width: 35px !important;
        top: 2px !important;
        transform: translateX(47px) !important;
    }

}

/*------------------ DONE------------------------------------------------*/
/*iPad Mini (5th Gen - 2019), iPad (6th Gen - 2018) - Landscape */
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) {
    .toggle-switch {
        top: 70px;
    }

    .sun-toggle-icon {
        width: 40px;
        height: 40px;
        transform: translateX(10px);
    }

    .moon-toggle-icon {
        width: 40px;
        height: 40px;
    }

    .light-tooltip {
        border-radius: 10px;
        padding: 10px;
    }

    .dark-tooltip {
        border-radius: 10px;
        padding: 10px;
    }

    #light .react-switch .react-switch-handle {
        height: 35px !important;
        width: 35px !important;
        top: 2px !important;
        transform: translateX(3px) !important;
    }

    #dark .react-switch .react-switch-handle {
        height: 35px !important;
        width: 35px !important;
        top: 2px !important;
        transform: translateX(47px) !important;
    }

}

/*------------------ DONE------------------------------------------------*/
/*iPad Pro 12.9-inch (2nd, 3rd, 4th, 5th, and 6th Gen), and iPad Air 13 (M2 - 2024)*/
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) {
    .toggle-switch {
        top: 105px;
    }

    .sun-toggle-icon {
        width: 50px;
        height: 50px;
        transform: translateX(15px);
    }

    .moon-toggle-icon {
        width: 50px;
        height: 50px;
    }

    .light-tooltip {
        border-radius: 10px;
        padding: 10px;
        font-size: 25px;
    }

    .dark-tooltip {
        border-radius: 10px;
        padding: 10px;
        font-size: 25px;
    }

    #light .react-switch .react-switch-handle {
        height: 45px !important;
        width: 45px !important;
        top: 2px !important;
        transform: translateX(2px) !important;
    }

    #dark .react-switch .react-switch-handle {
        height: 45px !important;
        width: 45px !important;
        top: 2px !important;
        transform: translateX(58px) !important;
    }

}


/*------------------ DONE------------------------------------------------*/
/*iPad Mini (5th, and 6th Gen), iPad (6th Gen - 2018),
iPad (7th, 8th, and 9th Gen), iPad Air (3rd Gen), iPad Pro 10.5-inch */
@media only screen and (min-width: 744px) and (max-width: 834px) and (orientation: portrait) {
    .toggle-switch {
        top: 70px;
    }

    .sun-toggle-icon {
        width: 40px;
        height: 40px;
        transform: translateX(8px);
    }

    .moon-toggle-icon {
        width: 40px;
        height: 40px;
    }

    .light-tooltip {
        border-radius: 10px;
        padding: 10px;
    }

    .dark-tooltip {
        border-radius: 10px;
        padding: 10px;
    }

    #light .react-switch .react-switch-handle {
        height: 35px !important;
        width: 35px !important;
        top: 2px !important;
    }

    #dark .react-switch .react-switch-handle {
        height: 35px !important;
        width: 35px !important;
        top: 2px !important;
        transform: translateX(45px) !important;
    }

}


@media only screen and (min-width: 280px) and (max-width: 319px) {
    .toggle-switch {
        right: -2px;
        top: 55px;
    }
}