* {
    margin: 0;
    padding: 0;
}


#dark {
    color: white;
    width: 100%;
    background-color: #0c0c0c;
}

#light {
    color: black;
    width: 100%;
    background-color: white;
}


.toggle-switch {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 999;
    display: flex;

}

.toggle-icon {
    width: 17px;
    height: 17px;
}

@media only screen and (min-width: 667px) {
    .toggle-switch {
        right: 19px;
    }
}

@media only screen and (min-width: 390px) and (max-width: 666px) {
    .toggle-switch {
        right: 8px;
    }
}

@media only screen and (min-width: 385px) and (max-width: 389px) {
    .toggle-switch {
        right: 10px;
    }
}


@media only screen and (min-width: 280px) {
    .toggle-switch {
        right: 0;
    }
}




