/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#light .Toastify__close-button {
    color: white; /* Replace with your preferred color */


}


.container {
    height: auto;
    position: relative;

}



.container-bg {

    width: 15px;
    height: 100%;
    position: absolute;

}

.fade-container {
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

.fade-container.hidden {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.fade-out {
    animation: reviewFadeOut 0.5s ease forwards;
}

@keyframes reviewFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


#light .container-bg {
    background-color: #245fc6;
}

#dark .container-bg {
    background-color: #22b255;
}

.container-wrapper {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container-left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.container-right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 14px;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container-title {
    font-size: 60px;
    width: 80%;
}

.container-image {
    border-radius: 50%;
    background: transparent;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 380px;
    height: 380px;
    padding: 30px;

}

.container-desc {
    font-weight: 300;
    padding: 5px;

}

.container-desc.bolded {
    font-weight: 500;
}


#light textarea {
    border: 1px solid black;
    color: black;
    width: 98%;
    height: 40%;
    margin: 10px 0;
    font-size: 12px;
    letter-spacing: 1px;
    resize: none;

    background-color: transparent;

}

#dark textarea {
    border-bottom: 1px solid white;
    color: white;
    width: 98%;
    height: 40%;
    margin: 10px 0;
    font-size: 12px;
    letter-spacing: 1px;
    resize: none;
    background-color: transparent;

}

#light textarea::-webkit-input-placeholder {
    color: #666666;
}

#light textarea::-moz-placeholder {
    color: #666666;
}

#light textarea:-ms-input-placeholder {
    color: #666666;
}

#light textarea::-ms-input-placeholder {
    color: #666666;
}

#light textarea::placeholder {
    color: #666666;
}

#dark textarea::-webkit-input-placeholder {
    color: #efeeee;

}

#dark textarea::-moz-placeholder {
    color: #efeeee;

}

#dark textarea:-ms-input-placeholder {
    color: #efeeee;

}

#dark textarea::-ms-input-placeholder {
    color: #efeeee;

}

#dark textarea::placeholder {
    color: #efeeee;

}


form {
    margin-top: 15px;
    width: 80%;
}


.review-button {
    background-color: transparent;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    height: 45px;
    width: 160px;
    border-radius: 10px;
    text-align: center;
    border: solid currentColor;
    -webkit-transition: screen 0.6s cubic-bezier(.86, .01, .15, .99);
    -o-transition: screen 0.6s cubic-bezier(.86, .01, .15, .99);
    transition: screen 0.6s cubic-bezier(.86, .01, .15, .99);
    -webkit-box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);


}

.review-button::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-clip-path: circle(0% at 50% 50%);
    clip-path: circle(0% at 50% 50%);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    opacity: 1;
}


#light .review-button {
    color: black;
}

#dark .review-button {
    color: white;
}


.review-button a {
    text-decoration: none;
}


#light .review-button::before {
    background: black;
}

#dark .review-button::before {
    background: white;
}


#light .review-button p {
    color: black;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: screen ease-in-out 0.6s;
    -o-transition: screen ease-in-out 0.6s;
    transition: screen ease-in-out 0.6s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

#dark .review-button p {
    color: white;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: screen ease-in-out 0.6s;
    -o-transition: screen ease-in-out 0.6s;
    transition: screen ease-in-out 0.6s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}


.review-button:active {
    background-color: #ebf3ed;

}

.text-area-label {
    font-size: 15px;


}

.error-message-textArea {
    font-size: 12px;
    color: #fa7b7b;
    margin-bottom: 20px;
    display: none;
    letter-spacing: 1px;

}

#light textarea:invalid[focused="true"] {
    border: 1px solid #fa7b7b;
}

#light textarea:invalid[focused="true"] ~ .error-message-textArea {
    display: block;
}

#dark textarea:invalid[focused="true"] {
    border: 1px solid #fa7b7b;
}

#dark textarea:invalid[focused="true"] ~ .error-message-textArea {
    display: block;
}

.container-review {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    border: none;
    transform: translateY(-15px);
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding around content */
    max-width: 60%; /* Maximum width */
    height: auto; /* Auto height */
    margin: 0 auto; /* Center horizontally */

}

#light .container-review {

    box-shadow: 0 0 10px rgba(224, 230, 253, 0.91); /* Drop shadow for depth */
}

#dark .container-review {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.34); /* Drop shadow for depth */
}


#light .toast-message {
    background: black;
    color: white;
    margin: auto; /* Center horizontally */
    width: 100%;
    font-size: 15px;

}

#dark .toast-message {
    background: white;
    color: black;
    margin: auto; /* Center horizontally */
    width: 100%;
    font-size: 15px;


}

.container-review.active {
    opacity: 1;
}

.review-title {
    text-align: center; /* Center-align the title */
    margin-bottom: 20px; /* Space below the title */
    font-size: 25px;
}

.review-desc {
    text-align: center; /* Center-align description paragraphs */

    font-size: 17px;
    margin: 10px 65px;

}

.input-value {
    font-size: 14px;
    word-wrap: break-word;
}

/* Review Field Styles */
.review-field {
    margin-bottom: 15px;
}

.review-field label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

.review-button.disabled {
    /* Add your styling for the disabled state */
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.animate-fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.animate-fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}


/* Modal Buttons */
.review-form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.back-button {
    background-color: transparent;
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    height: 45px;
    width: 160px;
    border-radius: 10px;
    text-align: center;
    border: solid currentColor;
    -webkit-transition: screen 0.6s cubic-bezier(.86, .01, .15, .99);
    -o-transition: screen 0.6s cubic-bezier(.86, .01, .15, .99);
    transition: screen 0.6s cubic-bezier(.86, .01, .15, .99);
    -webkit-box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);


}

.back-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-clip-path: circle(0% at 50% 50%);
    clip-path: circle(0% at 50% 50%);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    opacity: 1;
    z-index: 0;
}


#light .back-button {
    color: #e86016;
}

#dark .back-button {
    color: #e64040;
}


.back-button a {
    text-decoration: none;
}


#light .back-button:before {
    background: #e86016;
}

#dark .back-button:before {
    background: #e64040;
}


#light .back-button p {
    color: #e86016;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: screen ease-in-out 0.6s;
    -o-transition: screen ease-in-out 0.6s;
    transition: screen ease-in-out 0.6s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

#dark .back-button p {
    color: #e64040;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: screen ease-in-out 0.6s;
    -o-transition: screen ease-in-out 0.6s;
    transition: screen ease-in-out 0.6s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}


.back-button:active {
    background-color: #ebf3ed;
}


.submit-button {
    background-color: transparent;
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 999;
    height: 45px;
    width: 160px;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    border: solid currentColor;
    -webkit-transition: screen 0.6s cubic-bezier(.86, .01, .15, .99);
    -o-transition: screen 0.6s cubic-bezier(.86, .01, .15, .99);
    transition: screen 0.6s cubic-bezier(.86, .01, .15, .99);
    -webkit-box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);


}

.submit-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-clip-path: circle(0% at 50% 50%);
    clip-path: circle(0% at 50% 50%);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    opacity: 1;
    z-index: 0;
}


#light .submit-button {
    color: #245fc6;
}

#dark .submit-button {
    color: #22b255;
}


.submit-button a {
    text-decoration: none;
}


#light .submit-button:before {
    background: #245fc6;
}

#dark .submit-button:before {
    background: #22b255;
}


#light .submit-button p {
    color: #245fc6;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: screen ease-in-out 0.6s;
    -o-transition: screen ease-in-out 0.6s;
    transition: screen ease-in-out 0.6s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

#dark .submit-button p {
    color: #22b255;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: screen ease-in-out 0.6s;
    -o-transition: screen ease-in-out 0.6s;
    transition: screen ease-in-out 0.6s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}


.submit-button:active {
    background-color: #ebf3ed;
}


@media (hover: hover) {

    #light .review-button:hover {
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
        -webkit-box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1);
        box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
    }

    #dark .review-button:hover {

        -webkit-transition: 0.6s;

        -o-transition: 0.6s;

        transition: 0.6s;
        -webkit-box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1);
        box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
    }

    #light .review-button:hover p {

        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
        color: white;
    }

    #dark .review-button:hover p {
        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
        color: black;
    }

    .review-button:hover:before {
        -webkit-clip-path: circle(100% at 50% 50%);
        clip-path: circle(100% at 50% 50%);
    }


    #light .back-button:hover {
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
        -webkit-box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1);
        box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
    }

    #dark .back-button:hover {

        -webkit-transition: 0.6s;

        -o-transition: 0.6s;

        transition: 0.6s;
        -webkit-box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1);
        box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
    }

    #light .back-button:hover p {

        -webkit-transition: 0.8s;

        -o-transition: 0.8s;

        transition: 0.8s;
        color: white;
    }

    #dark .back-button:hover p {
        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
        color: white;
    }

    .back-button:hover:before {
        -webkit-clip-path: circle(100% at 50% 50%);
        clip-path: circle(100% at 50% 50%);
    }


    #light .submit-button:hover {
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
        -webkit-box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1);
        box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
    }

    #dark .submit-button:hover {

        -webkit-transition: 0.6s;

        -o-transition: 0.6s;

        transition: 0.6s;
        -webkit-box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1);
        box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
    }

    #light .submit-button:hover p {
        color: white;
        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
    }

    #dark .submit-button:hover p {
        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
        color: white;
    }

    .submit-button:hover:before {
        -webkit-clip-path: circle(100% at 50% 50%);
        clip-path: circle(100% at 50% 50%);
    }

}


@-moz-document url-prefix() {

    .modal-overlay {
        position: absolute;

    }

    .modal-content {
        position: absolute;
        transform: translateY(-43%);
        z-index: 10000; /* Place content on top of the overlay */
    }

}





/*
------------------------Mobile CSS--------------------------------------------------------------------------------
 */


/*XR for IOS 17 (FLIPPED)*/
@media only screen and (min-width: 500px) and (max-width: 896px)
and (min-height: 360px) and (max-height: 414px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .container {
        height: auto;
    }

    .container-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px 10px;
        margin: 10px 10px;
    }

    .text-area-label {
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: -10px;

    }

    .container-image {
        margin: 113px 225px;
        padding: 50px;
        width: 218px;
        height: 218px;
    }

    .container-title {
        font-size: 30px;
        text-align: center;
        width: 100%;
    }

    .container-desc {
        font-size: 17px;
        text-align: center;
        width: 49%;
    }

    .container-bg {
        display: none;
    }

    form {
        margin-top: 230px;

    }

    #light textarea {
        width: 103%;
        font-size: 12px;
        transform: translateX(-10px);

    }


    #dark textarea {
        width: 103%;
        font-size: 12px;
        transform: translateX(-10px);

    }

    #light textarea::placeholder {
        font-size: 12px;

    }


    #dark textarea::placeholder {
        font-size: 12px;


    }

    .error-message-textArea {
        font-size: 7px;
        width: 104.2%;
        transform: translateX(-10px);

    }

    .review-button {
        margin: 10px 235px;
        height: 45px;
        width: 120px;
    }

    .review-button p {
        margin-left: 1px;
    }


    .container-review {
        max-width: 80%;
    }

    #light .container-review {

        box-shadow: 0 0 10px rgba(70, 70, 70, 0.91); /* Drop shadow for depth */
    }

    #dark .container-review {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.66); /* Drop shadow for depth */
    }


    .review-title {
        text-align: center; /* Center-align the title */
        margin-bottom: 20px; /* Space below the title */
        font-size: 30px;
    }

    .review-desc {
        text-align: center;
        font-size: 17px;
        margin: 15px 135px;

    }

    #light .input-label, #dark .input-label {
        font-size: 14px;

    }

    #light .input-value, #dark .input-value {
        font-size: 12px;
        word-wrap: break-word;
    }


    /*Modal Buttons*/
    .review-form-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-evenly;
        margin-top: 20px;

    }

    .back-button {
        height: 45px;
        width: 150px;
        margin: 5px
    }

    .submit-button {
        height: 45px;
        width: 150px;
        margin: 5px
    }

    @-moz-document url-prefix() {

        .container {
            height: auto;
        }

        .container-desc {
            font-size: 14px;
        }
        #light textarea, #dark textarea {
            height: 23%;
        }
        #light .modal-content, #dark .modal-content {
            width: 75%;
            transform: translateY(25%);
        }
        #light .modal-desc, #dark .modal-desc {
            margin: 10px 0;
            font-size: 16px;
        }

        #light .input-label, #dark .input-label {
            font-size: 15px;

        }

        #light .input-value, #dark .input-value {
            font-size: 14px;
            word-wrap: break-word;
        }
    }

}


/*XS, 11 Pro, SE (2nd and 3rd Gen) for IOS 17 (Flipped)*/
@media only screen and (min-width: 540px) and (max-width: 667px)
and (min-height: 300px) and (max-height: 375px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .container {
        height: auto;
    }

    .container-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px 10px;
        margin: 10px 10px;
    }

    .text-area-label {
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: -10px;

    }

    .container-image {
        margin: 115px 160px;
        padding: 50px;
        width: 207px;
        height: 207px;
    }

    .container-title {
        font-size: 30px;
        text-align: center;
        width: 100%;
    }

    .container-desc {
        font-size: 17px;
        text-align: center;
        width: 60%;
    }

    .container-bg {
        display: none;
    }

    form {
        margin-top: 230px;

    }

    #light textarea {
        width: 103%;
        font-size: 12px;
        transform: translateX(-10px);

    }

    #dark textarea {
        width: 103%;
        font-size: 12px;
        transform: translateX(-10px);

    }

    #light textarea::placeholder {
        font-size: 12px;

    }


    #dark textarea::placeholder {
        font-size: 12px;


    }

    .error-message-textArea {
        font-size: 7px;
        width: 104.2%;
        transform: translateX(-10px);

    }

    .review-button {
        margin: 10px 170px;
        height: 45px;
        width: 131px;
    }

    .review-button p {
        margin-left: 1px;
    }


    .container-review {
        max-width: 65%;
    }

    #light .container-review {

        box-shadow: 0 0 10px rgba(70, 70, 70, 0.91); /* Drop shadow for depth */
    }

    #dark .container-review {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.66); /* Drop shadow for depth */
    }


    .review-title {
        text-align: center; /* Center-align the title */
        margin-bottom: 20px; /* Space below the title */
        font-size: 30px;
    }

    .review-desc {
        text-align: center;
        font-size: 17px;
        margin: 15px 70px;
    }

    #light .input-label, #dark .input-label {
        font-size: 14px;

    }

    #light .input-value, #dark .input-value {
        font-size: 12px;
        word-wrap: break-word;
    }


    /*Modal Buttons*/
    .review-form-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-evenly;
        margin-top: 20px;

    }

    .back-button {
        height: 45px;
        width: 150px;
        margin: 5px
    }

    .submit-button {
        height: 45px;
        width: 150px;
        margin: 5px
    }

    @-moz-document url-prefix() {

        .container {
            height: auto;
        }

        .container-desc {
            font-size: 14px;
        }
        #light textarea, #dark textarea {
            height: 23%;
        }
        #light .modal-content, #dark .modal-content {
            width: 75%;
            transform: translateY(25%);
        }
        #light .modal-desc, #dark .modal-desc {
            margin: 10px 0;
            font-size: 16px;
        }

        #light .input-label, #dark .input-label {
            font-size: 15px;

        }

        #light .input-value, #dark .input-value {
            font-size: 14px;
            word-wrap: break-word;
        }
    }

}


/*XR for IOS 17*/
@media only screen and (min-width: 414px) and (max-width: 414px)
and (min-height: 700px) and (max-height: 896px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .container {
        height: auto;
    }

    .container-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px 10px;
        margin: 10px 10px;
    }

    .text-area-label {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: -10px;

    }

    .container-image {
        margin: 100px 35px;
        padding: 50px;
        width: 202px;
        height: 202px;
    }

    .container-title {
        font-size: 27px;
        text-align: center;
        width: 100%;
    }

    .container-desc {
        font-size: 15px;
        text-align: center;
        width: 85%;
    }

    .container-bg {
        display: none;
    }

    form {
        margin-top: 230px;

    }

    #light textarea {
        width: 105.5%;
        font-size: 11px;
        transform: translateX(-10px);

    }

    #dark textarea {
        width: 105.5%;
        font-size: 11px;
        transform: translateX(-10px);

    }

    #light textarea::placeholder {
        font-size: 11px;

    }


    #dark textarea::placeholder {
        font-size: 11px;


    }

    .error-message-textArea {
        font-size: 11px;
        width: 107.5%;
        transform: translateX(-10px);

    }

    .review-button {
        margin: 0 69px;
        height: 45px;
        width: 130px;
    }

    .review-button p {
        margin-right: 1px;
    }

    .container-review {
        max-width: 65%;
    }

    #light .container-review {

        box-shadow: 0 0 10px rgba(70, 70, 70, 0.91); /* Drop shadow for depth */
    }

    #dark .container-review {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.66); /* Drop shadow for depth */
    }


    .review-title {
        text-align: center; /* Center-align the title */
        margin-bottom: 20px; /* Space below the title */
        font-size: 18px;
    }

    .review-desc {
        text-align: center; /* Center-align description paragraphs */
        font-size: 13px;
        margin: 10px;

    }

    #light .input-label, #dark .input-label {
        font-size: 14px;

    }

    #light .input-value, #dark .input-value {
        font-size: 12px;
        word-wrap: break-word;
    }


    .review-form-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-evenly;
        margin-top: 20px;

    }

    .back-button {
        height: 45px;
        width: 150px;
        margin: 5px
    }

    .submit-button {
        height: 45px;
        width: 150px;
        margin: 5px
    }

    @-moz-document url-prefix() {

        .container {
            height: auto;
        }

        .container-desc {
            font-size: 14px;
        }
        #light textarea, #dark textarea {
            height: 23%;
        }


        #light .input-label, #dark .input-label {
            font-size: 15px;

        }

        #light .input-value, #dark .input-value {
            font-size: 14px;
            word-wrap: break-word;
        }
    }

}

/*11 Pro Max for IOS 17*/
@media only screen and (min-width: 414px) and (max-width: 414px)
and (min-height: 616px) and (max-height: 736px)
and (-webkit-min-device-pixel-ratio: 2.6), only screen and (min--moz-device-pixel-ratio: 2.6), only screen and (-o-min-device-pixel-ratio: 2.6/1), only screen and (min-device-pixel-ratio: 2.6) {
    .container {
        height: auto;
    }

    .container-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px 10px;
        margin: 10px 10px;
    }

    .text-area-label {
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: -10px;

    }

    .container-image {
        margin: 95px 35px;
        padding: 50px;
        width: 202px;
        height: 202px;
    }

    .container-title {
        font-size: 27px;
        text-align: center;
        width: 100%;
    }

    .container-desc {
        font-size: 14px;
        text-align: center;
        width: 75%;
    }

    .container-bg {
        display: none;
    }

    form {
        margin-top: 230px;

    }

    #light textarea {
        width: 105.5%;
        font-size: 10px;
        transform: translateX(-10px);

    }

    #dark textarea {
        width: 105.5%;
        font-size: 10px;
        transform: translateX(-10px);

    }

    #light textarea::placeholder {
        font-size: 10px;

    }


    #dark textarea::placeholder {
        font-size: 10px;


    }

    .error-message-textArea {
        font-size: 10px;
        width: 107.5%;
        transform: translateX(-10px);

    }

    .review-button {
        margin: 0 69px;
        height: 45px;
        width: 130px;
    }

    .review-button p {
        margin-right: 1px;
    }

    .modal-overlay {

        width: 100%;
        height: 100%;

    }

    /*Modal Content*/
    #light .modal-content, #dark .modal-content {
        width: 414px;
        max-height: 60vh; /* Adjust the value based on your design*/
        margin: 30px; /*Adjust the value based on your design*/
        transform: translateY(-5%);

    }

    #light .modal-content h2 {
        margin-bottom: 20px;
        color: #000000;
        font-size: 20px;
        text-align: center;
    }

    #dark .modal-content h2 {
        margin-bottom: 20px;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
    }

    #light .modal-desc, #dark .modal-desc {
        margin: 10px 0;
        font-size: 13px;
    }

    #light .input-label, #dark .input-label {
        font-size: 15px;

    }

    #light .input-value, #dark .input-value {
        font-size: 13px;
        word-wrap: break-word;
    }

    /*Modal Buttons*/
    .review-form-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-evenly;
        margin-top: 20px;

    }

    .back-button {
        height: 45px;
        width: 150px;
        margin: 5px
    }

    .submit-button {
        height: 45px;
        width: 150px;
        margin: 5px
    }

    @-moz-document url-prefix() {

        .container {
            height: auto;
        }

        .container-desc {
            font-size: 14px;
        }
        #light textarea, #dark textarea {
            height: 23%;
        }
        #light .modal-content, #dark .modal-content {
            width: 75%;
            transform: translateY(25%);
        }
        #light .modal-desc, #dark .modal-desc {
            margin: 10px 0;
            font-size: 16px;
        }

        #light .input-label, #dark .input-label {
            font-size: 15px;

        }

        #light .input-value, #dark .input-value {
            font-size: 14px;
            word-wrap: break-word;
        }
    }

}

/*XS, 11 Pro, SE (2nd and 3rd Gen) for IOS 17 */
@media only screen and (min-width: 375px) and (max-width: 375px)
and (min-height: 540px) and (max-height: 667px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .container {
        height: auto;
    }

    .container-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px 10px;
        margin: 10px 10px;
    }

    .text-area-label {
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: -10px;

    }

    .container-image {
        margin: 90px 16px;
        padding: 50px;
        width: 201px;
        height: 201px;
    }

    .container-title {
        font-size: 27px;
        text-align: center;
        width: 100%;
    }

    .container-desc {
        font-size: 12px;
        text-align: center;
        width: 75%;
    }

    .container-bg {
        display: none;
    }

    form {
        margin-top: 230px;

    }

    #light textarea {
        width: 105.7%;
        font-size: 9px;
        transform: translateX(-10px);

    }

    #dark textarea {
        width: 105.7%;
        font-size: 9px;
        transform: translateX(-10px);

    }

    #light textarea::placeholder {
        font-size: 9px;

    }


    #dark textarea::placeholder {
        font-size: 9px;


    }

    .error-message-textArea {
        font-size: 8px;
        width: 108.3%;
        transform: translateX(-10px);

    }

    .container-review {
        max-width: 65%;
    }

    #light .container-review {

        box-shadow: 0 0 10px rgba(70, 70, 70, 0.91); /* Drop shadow for depth */
    }

    #dark .container-review {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.66); /* Drop shadow for depth */
    }

    .review-button {
        margin: 0 51px;
        height: 45px;
        width: 130px;
    }

    .review-button p {
        margin-left: 4px;
        font-size: 14px;
    }

    .review-title {
        text-align: center; /* Center-align the title */
        margin-bottom: 20px; /* Space below the title */
        font-size: 18px;
    }

    .review-desc {
        text-align: center; /* Center-align description paragraphs */
        font-size: 13px;
        margin: 10px;

    }

    #light .input-label, #dark .input-label {
        font-size: 14px;

    }

    #light .input-value, #dark .input-value {
        font-size: 12px;
        word-wrap: break-word;
    }


    .review-form-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-evenly;
        margin-top: 20px;

    }

    .back-button {
        height: 45px;
        width: 150px;
        margin: 5px;

    }

    #light .back-button p {
        font-size: 12px;
    }

    #dark .back-button p {
        font-size: 12px;
    }

    .submit-button {
        height: 45px;
        width: 150px;
        margin: 5px;

    }

    #light .submit-button p {
        font-size: 12px;
    }

    #dark .submit-button p {
        font-size: 12px;
    }

    @-moz-document url-prefix() {

        .container {
            height: auto;
        }

        .container-desc {
            font-size: 14px;
        }
        #light textarea, #dark textarea {
            height: 23%;
        }
        #light .modal-content, #dark .modal-content {
            width: 75%;
            transform: translateY(25%);
        }
        #light .modal-desc, #dark .modal-desc {
            margin: 10px 0;
            font-size: 16px;
        }

        #light .input-label, #dark .input-label {
            font-size: 15px;

        }

        #light .input-value, #dark .input-value {
            font-size: 14px;
            word-wrap: break-word;
        }
    }

}

