/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#light input {
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    height: 30px;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    font-size: 12px;
}

#dark input {
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: transparent;
    color: white;
    border: none;
    height: 30px;
    letter-spacing: 1px;
    border-bottom: 1px solid white;
    font-size: 12px;
}

#light input::-webkit-input-placeholder {
    color: #666666;

}

#light input::-moz-placeholder {
    color: #666666;

}

#light input:-ms-input-placeholder {
    color: #666666;

}

#light input::-ms-input-placeholder {
    color: #666666;

}

#light input::placeholder {
    color: #666666;

}

#dark input::-webkit-input-placeholder {
    color: #efeeee;

}

#dark input::-moz-placeholder {
    color: #efeeee;

}

#dark input:-ms-input-placeholder {
    color: #efeeee;

}

#dark input::-ms-input-placeholder {
    color: #efeeee;

}

#dark input::placeholder {
    color: #efeeee;

}

.formInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.input-area-label {
    font-size: 15px;
}

.error-message {
    font-size: 12px;
    color: #fa7b7b;
    margin-bottom: 10px;
    display: none;
    letter-spacing: 1px;
}

#light input:invalid[focused="true"] {
    border-bottom: 1px solid #fa7b7b;
}

#light input:invalid[focused="true"] ~ .error-message {
    display: block;
}

#dark input:invalid[focused="true"] {
    border-bottom: 1px solid #f45e5e;
}

#dark input:invalid[focused="true"] ~ .error-message {
    display: block;
}


/*
------------------------Mobile CSS--------------------------------------------------------------------------------
 */


/*
XS, 11 Pro, SE (2nd and 3rd Gen) for IOS 17 (Flipped)*/
@media only screen and (min-width: 540px) and (max-width: 667px)
and (min-height: 300px) and (max-height: 375px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .formInput {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #light input {
        width: 103.3%;
        font-size: 12px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    #dark input {
        width: 103.3%;
        font-size: 12px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);

    }

    .input-area-label {
        font-size: 11px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);


    }

    .error-message {
        font-size: 11px;
        width: 104.2%;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);

    }


}


/*XR for IOS 17*/
@media only screen and (min-width: 414px) and (max-width: 414px)
and (min-height: 700px) and (max-height: 896px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .formInput {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #light input {
        width: 106%;
        font-size: 11px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    #dark input {
        width: 106%;
        font-size: 11px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);

    }

    .input-area-label {
        font-size: 14px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);


    }

    .error-message {
        font-size: 11px;
        width: 107.5%;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);

    }


}

/*6S Plus, 7 Plus for IOS 15
8 PLus for IOS 16
11 Pro Max for IOS 17*/
@media only screen and (min-width: 414px) and (max-width: 414px)
and (min-height: 616px) and (max-height: 736px)
and (-webkit-min-device-pixel-ratio: 2.6), only screen and (min--moz-device-pixel-ratio: 2.6), only screen and (-o-min-device-pixel-ratio: 2.6/1), only screen and (min-device-pixel-ratio: 2.6) {
    .formInput {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #light input {
        width: 106%;
        font-size: 10px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    #dark input {
        width: 106%;
        font-size: 10px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);

    }

    .input-area-label {
        font-size: 12px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);


    }

    .error-message {
        font-size: 10px;
        width: 107.5%;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);

    }


}


/*XS, 11 Pro, SE (2nd and 3rd Gen) for IOS 17 */
@media only screen and (min-width: 375px) and (max-width: 375px)
and (min-height: 540px) and (max-height: 667px)
and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .formInput {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #light input {
        width: 106.5%;
        font-size: 8px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    #dark input {
        width: 106.5%;
        font-size: 8px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);

    }

    .input-area-label {
        font-size: 9px;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);


    }

    .error-message {
        font-size: 8px;
        width: 108.3%;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);

    }


}




